h2{
    text-align: center;
    font-size: 20px;
}

table{
    align-items: center;
    border-collapse: collapse;
    height: 80px;
    margin: 0 auto;
}
table,th,td{
    border: 1px solid black;
    padding: 5px 30px;
    text-align: center;

}
.title{
    padding: 10px;
    font-size: 14px;
    color: #000;
    text-align: center;
    font-weight: 1400;
}
td{
    font-size: 12px;
}