* {
    margin: 0;
    padding: 0;
    /* 內减模式 */
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }

body{
    background-color: white;

}

/* 版心 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
}
/* 头部 */
.header{
    height: 42px;
    background-color: violet;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

h1{
    float: left;
}
/* 导航 */
.nav{
    float: left;
    margin-left: 70px;
    height: 42px;

}

.nav li{
    float: left;
    margin-right: 26px;
    
}
.nav li a{
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 9px;
    font-size: 18px;
    color: #050505;
}

.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}